@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.83) 0%, rgba(43, 43, 43, 0) 20%), url('/background/ContactUsImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 0 6rem 0;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    @media(max-width: 755px) {
        padding: 0 0 6rem;
    }
}