@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
    .contentContainer {
        position: relative;
        padding: 3rem;
        @include bg(linear-gradient(180deg, #FFFFFF 0%, #E4E4E4 100%), 15px);
        max-height: 95%;
        overflow: scroll;
        .closingButtonContainer{
            position: absolute;
            top: 2rem;
            right: 2rem;
            cursor: pointer;
        }
        .donationFormContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            .subHeadlineContainer {
                @include text(1.3rem, $main-dark-grey, Jost);
                text-transform: uppercase;
            }
            .headlineContainer {
                @include text(3rem, $main-dark-grey, JostBold);
            }
            .flexImageContainer {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 1rem;
                .paymentContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1.5rem;
                    @include bg($main-white, 8px);
                    padding: 2rem;
                    border-radius: 1px solid $secondary-white-light;
                    min-width: 242px;
                    cursor: pointer;
                    .methodContainer {
                        @include text(1rem, $main-dark-grey, JostBold);
                    }
                    .imageContainer {
                        width: 100px;
                        height: 63px;
                        position: relative;
                        img {
                            object-fit: contain;
                        }
                    }
                    .walletContainer {
                        @include text(.875rem, $main-light-grey, Jost);
                    }
                }   
            }
        }
        .creditContainer {
            color: yellowgreen;
            &.active {
                color: blue;
            }
        }
    }
}