$main-white: rgba(255, 255, 255, 1);
$main-black: #000;
$main-headline: #535353;
$main-title-dark: #13111B;
$main-text-dark: #010101;
$main-dark-grey: #3C3C3C;
$main-light-grey: #797979;

$secondary-white-light: #E7E7E7;
$secondary-grey-light: #7A7A7A;

$bg-white: rgba(250, 250, 250, 1);

$linear-gradient-green: linear-gradient(117.21deg, #75A43E 0.7%, #007741 90.81%);