@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'JostBold';
    src: url('./fonts/Jost-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}