@import './colors.scss';
@import './mixins.scss';
@import './fonts.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: $bg-white;
  font-family: Jost, sans-serif;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
}


.scrollbar-hide {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}
