@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
    .contentContainer {
        position: relative;
        padding: 3rem;
        @include bg(linear-gradient(180deg, #FFFFFF 0%, #E4E4E4 100%), 15px);
        max-height: 95%;
        overflow: scroll;
        .closingButtonContainer{
            position: absolute;
            top: 2rem;
            right: 2rem;
            cursor: pointer;
        }
        .donationFormContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            .subHeadlineContainer {
                @include text(1.3rem, $main-dark-grey, Jost);
                text-transform: uppercase;
            }
            .headlineContainer {
                @include text(3rem, $main-dark-grey, JostBold);
                @media(max-width: 555px) {
                    @include text(2rem, $main-dark-grey, JostBold);
                }
            }




            .accountContainer {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                align-items: center;
                justify-content: center;
                padding-top: 1rem;
                .infoContainer {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    .imageContainer {
                        padding-top: .4rem;
                    }
                    .connectionContainer {
                        @include text(1rem, $main-light-grey, Jost);
                        @media(max-width: 566px) {
                            @include text(9px, $main-light-grey, Jost);
                        }
                    }
                    .accountNumberContainer {
                        @include text(1rem, $main-light-grey, JostBold);
                        @media(max-width: 566px) {
                            @include text(9px, $main-light-grey, Jost);
                        }
                    }
                }
            }
        }
    }
}